<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="page_head(title,remove)" th:remove=${remove}>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>[[${title}]] - [[${SITE_NAME}]]</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</head>


<body>

	<th th:fragment="column_link(fieldName,columnName,removeTag)" th:remove="${removeTag}">
		<a class="text-white"
			th:href="@{'/'+${modelURL} + '/page/'+ ${currentPage} + '?sortField=' +${fieldName} + '&sortDir=' +${sortField !=fieldName? sortDir:reverseSortDir} + ${orderKeyword !=null? '&orderKeyword='+orderKeyword :''} }">
			[[${columnName}]]
		</a>
		<span th:if="${sortField==fieldName}"
		 	th:class="${sortDir =='asc'? 'fas fa-sort-up':'fas fa-sort-down'}">
		</span>
	</th>
	
	<a th:fragment="page_link(pageURL,pageNum,label)"
	 class="page-link" 
	 th:href="@{'/'+${modelURL} + '/page/'+${pageNum} +'?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} +${orderKeyword !=null ? '&orderKeyword='+ orderKeyword :''} }">
		[[${label}]]
	</a>
	
	<div th:fragment = "pagination(pageURL,entity)">
	<div class="text-center m-1" th:if="${totalItems>0}">
		<span>Show [[${entity}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems>0}">
		<span>Not [[${entity}]] found</span>
	</div>
	<div th:if="${totalPages >0}">
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center flex-wrap">
  				<li th:class="${currentPage >1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${pageURL},1,'First')"></a>
	    		</li>
	    		<li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${pageURL},${currentPage-1},'Previous')"></a>
	    		</li>
	    		<li th:class="${currentPage !=i ?'page-item':'page-item active'}" 
	    			th:each="i: ${#numbers.sequence(1,totalPages)}">
	    			<a th:replace="fragments ::page_link(${pageURL},${i},${i})"></a>
	    		</li>
	    		
	    		<li th:class="${currentPage<totalPages ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${pageURL},${currentPage+1},'Next')"></a>
	    		</li>
	    		<li th:class="${currentPage< totalPages ? 'page-item':'page-item disabled'}">
	    			<a th:replace="fragments ::page_link(${pageURL},${totalPages},'Last')"></a>
	    			
	    		</li>
  			</ul>
		</nav>
	</div>
	</div>
	
	<div th:fragment="confirm_modal">
		<div class ="modal fade text-center" id="modalDialog"> 
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Warning</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div th:fragment = "price_fragment(productPrice)" th:remove="tag">
			<span >
				<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
				[[${#numbers.formatDecimal(productPrice,1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
				<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
			</span>
	</div>	
	
	<div th:fragment = "format_time(dateTime)" th:remove="tag">
			<span th:text="${#dates.format(dateTime, 'dd-MM-yyyy HH:mm:ss')}"></span>
	</div>
	<div th:fragment = "format_input(amount)" th:remove="tag">
			<input type="text" class="form-control" readonly  th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price'? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount,1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
	</div>
	<div th:fragment="footer" class="text-center m-3">
		<p>Shopme Control Panel Copyright &copy; Shopme <p>
	</div>
</body>
</html>