
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: page_head('shipping_rates - Shopme Admin','none')"/>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu">
		</div>
		&nbsp;
		<div>
			<a class="fa-solid fa-file-circle-plus fa-2x" th:href="@{/shipping_rates/new}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-csv fa-2x" th:href="@{/shipping_rates/export/csv}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-excel fa-2x" th:href="@{/shipping_rates/export/excel}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-pdf fa-2x" th:href="@{/shipping_rates/export/pdf}"></a>
		</div>
		
		<div th:if="${message !=null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div>
			<form th:action="@{/shipping_rates/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}"/>
				<input type="hidden" name="sortDir" th:value="${sortDir}"/>
				
				Filter:&nbsp;
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class= "fas fa-search"></i>
				</button>
				
				&nbsp;&nbsp;
				<button type="button" value="Clear" class="btn btn-primary" onclick="clearFilter()">
					<i class="fas fa-eraser"></i>
				</button>
				
			</form>
		</div>
		
		<div class="full-details" >
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: column_link('id', 'ID','none')"/>
						<th th:replace="fragments :: column_link('country', 'Country', 'none')"/>
						<th th:replace="fragments :: column_link('state', 'State', 'none')"/>
						<th th:replace="fragments :: column_link('rate', 'Rate', 'none')"/>
						<th th:replace="fragments :: column_link('days', 'Days', 'none')"/>
						<th th:replace="fragments :: column_link('codSupported', 'COD Supported', 'none')"/>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rate :${shippingRates}">
						<td>[[${rate.id}]]</td>
						<td>[[${rate.country.name}]]</td>
						<td>[[${rate.state}]]</td>
						<td>
						<div th:replace = "price_fragment::price_fragment(${rate.rate})"></div>
						</td>
						<td>[[${rate.days}]]</td>
						<td>
							<a th:if="${rate.codSupported==true}" class="fa-solid fa-hand-holding-dollar fa-2x icon-green" 
							th:href="@{'/shipping_rates/cod/' + ${rate.id} +'/enabled/false'}" title="Disabled this shipping"></a>
							<a th:if="${rate.codSupported==false}" class="fa-solid fa-hand-holding-dollar fa-2x icon-dark"
							 th:href="@{'/shipping_rates/cod/' + ${rate.id} +'/enabled/true'}" title="Enabled this shipping"></a>
						</td>
						<td>
							<a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/shipping_rates/edit/' +${rate.id}}" title="Edit this shipping rate"></a>
							&nbsp;
							<a class="fa-solid fa-trash fa-2x icon-dark link-delete" 
								th:href="@{'/shipping_rates/delete/' +${rate.id}}"
								th:rateId="${rate.id}"
								title="Delete this shipping"></a>
						</td>
						
					</tr>
					
				</tbody>
			</table>
		</div>
		
	<div class="less-details">
		<div  th:each=" rate:${shippingRates}"class="row m-1">
			<div class="col-4">
				<span><b>[[${rate.country.name}]]</b></span>
				<br/>
				<span>[[${rate.state}]]</span>
			</div>
			<div class="col-8">
				
				<div class="mt-2">
					<a th:if="${rate.codSupported==true}" class="fa-solid fa-hand-holding-dollar fa-2x icon-green" 
							th:href="@{'/shipping_rates/cod/' + ${rate.id} +'/enabled/false'}" title="Disabled this shipping"></a>
							<a th:if="${rate.codSupported==false}" class="fa-solid fa-hand-holding-dollar fa-2x icon-dark"
							 th:href="@{'/shipping_rates/cod/' + ${rate.id} +'/enabled/true'}" title="Enabled this shipping"></a>
					<a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/shipping_rates/edit/' +${rate.id}}" title="Edit this shipping rate"></a>
							&nbsp;
					<a class="fa-solid fa-trash fa-2x icon-dark link-delete" 
						th:href="@{'/shipping_rates/delete/' +${rate.id}}"
						th:rateId="${rate.id}"
						title="Delete this shipping"></a>
				</div>
			</div>
			<div>&nbsp;</div>
		
		</div>
		
	</div>
	<div class="text-center m-1" th:if="${totalItems>0}">
		<span>Show shipping rates # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems>0}">
		<span>Not shipping_rates found</span>
	</div>
	<div th:if="${totalPages >0}">
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center flex-wrap">
  				<li th:class="${currentPage >1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(1,'First')"></a>
	    		</li>
	    		<li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${currentPage-1},'Previous')"></a>
	    		</li>
	    		<li th:class="${currentPage !=i ?'page-item':'page-item active'}" 
	    			th:each="i: ${#numbers.sequence(1,totalPages)}">
	    			<a th:replace="fragments ::page_link(${i},${i})"></a>
	    		</li>
	    		
	    		<li th:class="${currentPage<totalPages ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${currentPage+1},'Next')"></a>
	    		</li>
	    		<li th:class="${currentPage< totalPages ? 'page-item':'page-item disabled'}">
	    			<a th:replace="fragments ::page_link(${totalPages},'Last')"></a>
	    		</li>
  			</ul>
		</nav>
	</div>
	
	<div class ="modal fade text-center" id="confirmModal"> 
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton" >Yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments ::footer"></div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function(){
			$(".link-delete").on("click",function(e){
				e.preventDefault();
				link=$(this);
				rateId =link.attr("rateId");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this shipping id " + rateId);
				$("#confirmModal").modal();
			});
		});
		
		function clearFilter(){
			window.location = "[[@{/shipping_rates}]]";
		}
	</script>
</body>
</html>