
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu">
		</div>
		&nbsp;
		<div>
			
			<a class="fa-solid fa-file-csv fa-2x" th:href="@{/customers/export/csv}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-excel fa-2x" th:href="@{/customers/export/excel}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-pdf fa-2x" th:href="@{/customers/export/pdf}"></a>
			
		</div>
		
		<div th:if="${message !=null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div>
			<form th:action="@{/customers/page/1}" class="form-inline m-3" id="searchForm">
				<input type="hidden" name="sortField" th:value="${sortField}"/>
				<input type="hidden" name="sortDir" th:value="${sortDir}"/>
								
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class= "fas fa-search"></i>
				</button>
				
				&nbsp;&nbsp;
				<button type="button" value="Clear" class="btn btn-primary" onclick="clearFilter()">
					<i class="fas fa-eraser"></i>
				</button>
				
			</form>
		</div>
		
		<div class="full-details" >
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>				
						<th th:replace="fragments :: column_link('id', 'ID','none')"/>
						<th th:replace="fragments :: column_link('firstName', 'First Name','none')"/>
						<th th:replace="fragments :: column_link('lastName', 'Last Name','none')"/>
						<th class="hideable-column">
						<th th:replace="fragments :: column_link('email', 'E-mail','tag')"/>
						</th>
						
						
						<th th:replace="fragments :: column_link('city', 'City','none')"/>
						
						
						<th class="hideable-column">
						<th th:replace="fragments :: column_link('state', 'State','tag')"/>
						</th>
						
						<th class="hideable-column">
						<th th:replace="fragments :: column_link('country', 'Country','tag')"/>
						</th>
						
						<th>Enabled</th>
									
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer :${listCustomers}">
						<td >[[${customer.id}]]</td>
						<td >[[${customer.firstName}]]</td>
						<td >[[${customer.lastName}]]</td>
						<td class="hideable-column">[[${customer.email}]]</td>
						<td >[[${customer.city}]]</td>
						<td class="hideable-column">[[${customer.state}]]</td>
						<td class="hideable-column">[[${customer.country.name}]]</td>
												
						<td >
							<a th:if="${customer.enabled==true}" class="fa-solid fa-circle-check fa-2x icon-green" 
							th:href="@{'/customers/' + ${customer.id} +'/enabled/false'}" title="Disabled this customer"></a>
							<a th:if="${customer.enabled==false}" class="fa-solid fa-circle-check fa-2x icon-dark"
							 th:href="@{'/customers/' + ${customer.id} +'/enabled/true'}" title="Enabled this customer"></a>
						</td>
					
						
						<td>
							<a class="fa-solid fa-circle-info fa-2x icon-green link-detail " th:href="@{'/customers/detail/' +${customer.id}}" title="View details of this customer" ></a>
							&nbsp;
							<a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/customers/edit/' +${customer.id}}" title="Edit this customer"></a>
							&nbsp;
							<a class="fa-solid fa-trash fa-2x icon-dark link-delete" 
								th:href="@{'/customers/delete/' +${customer.id}}"
								th:customerId="${customer.id}" title="Delete this customer"></a>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		
	<div class="less-details">
		<div  th:each=" customer:${listCustomers}"class="row m-1">
			<div class="col-4">
				<span><b>[[${customer.fullName}]]</b></span>
			</div>
			<div class="col-8">
				<div class="mb-1">
					<span>[[${customer.city}]]</span>
				</div>
				<div>
					<a th:if="${customer.enabled==true}" class="fa-solid fa-circle-check fa-2x icon-green" 
						th:href="@{'/customers/' + ${customer.id} +'/enabled/false'}" title="Disabled this customer">
					</a>
					<a th:if="${customer.enabled==false}" class="fa-solid fa-circle-check fa-2x icon-dark"
						th:href="@{'/customers/' + ${customer.id} +'/enabled/true'}" title="Enabled this customer">
					</a>
					&nbsp;
					<a class="fa-solid fa-circle-info fa-2x icon-green link-detail " th:href="@{'/customers/detail/' +${customer.id}}" title="View details of this customer" ></a>
					&nbsp;
					<a class="fa-solid fa-pen-to-square fa-2x icon-green" th:href="@{'/customers/edit/' +${customer.id}}" title="Edit this customer"></a>
					&nbsp;
					<a class="fa-solid fa-trash fa-2x icon-dark link-delete" 
						th:href="@{'/customers/delete/' +${customer.id}}"
						th:customerId="${customer.id}" title="Delete this customer"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center m-1" th:if="${totalItems>0}">
		<span>Show customer # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems>0}">
		<span>Not customers found</span>
	</div>
	<div th:if="${totalPages >0}">
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center flex-wrap">
  				<li th:class="${currentPage >1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(1,'First')"></a>
	    		</li>
	    		<li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${currentPage-1},'Previous')"></a>
	    		</li>
	    		<li th:class="${currentPage !=i ?'page-item':'page-item active'}" 
	    			th:each="i: ${#numbers.sequence(1,totalPages)}">
	    			<a th:replace="fragments ::page_link(${i},${i})"></a>
	    		</li>
	    		
	    		<li th:class="${currentPage<totalPages ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${currentPage+1},'Next')"></a>
	    		</li>
	    		<li th:class="${currentPage< totalPages ? 'page-item':'page-item disabled'}">
	    			<a th:replace="fragments ::page_link(${totalPages},'Last')"></a>
	    		</li>
  			</ul>
		</nav>
	</div>
		<div th:replace="modal_fragments::confirm_modal"></div>
		
		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
				
				</div>
			</div>
		</div>
		
		<div th:replace="fragments ::footer"></div>
	</div>
	
	<script type="text/javascript">
	
		$(document).ready(function(){
			$(".link-delete").on("click",function(e){
				e.preventDefault();
				link=$(this);
				customerId =link.attr("customerId");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this customer id " + customerId);
				$("#confirmModal").modal();
			});
		
			$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetailURL  = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
			
			
		});
		function clearFilter(){
			window.location = "[[@{/customers}]]";
		}
	</script>
</body>
</html>