
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Order - Shoppme Admin', 'none')"/>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu"></div>
		<div>
			<h2>Manager Orders (Shipper)</h2>
		</div>
		&nbsp;
		<div>
			
			<a class="fa-solid fa-file-csv fa-2x" th:href="@{/orders/export/csv}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-excel fa-2x" th:href="@{/orders/export/excel}"></a>
			&nbsp;|&nbsp;
			<a class="fa-solid fa-file-pdf fa-2x" th:href="@{/orders/export/pdf}"></a>
			
		</div>
		
		<div th:if="${message !=null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div>
			<form th:action="@{/orders/page/1}" class="form-inline m-3" id="searchForm">
				<input type="hidden" name="sortField" th:value="${sortField}"/>
				<input type="hidden" name="sortDir" th:value="${sortDir}"/>
								
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required />
				&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">
					<i class= "fas fa-search"></i>
				</button>
				
				&nbsp;&nbsp;
				<button type="button" value="Clear" class="btn btn-primary" onclick="clearFilter()">
					<i class="fas fa-eraser"></i>
				</button>
				
			</form>
		</div>
				
		<div>
			<th:block th:each = "order :${listOrders}">
			<div class="row m-1">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col">
							<span>Order ID #[[${order.id}]]</span>
							</div>
							<div class="col">
								<div class="float-right">
									<a class="fas fa-file-alt fa-2x icon-green linkOrderDetail " 
									th:href="@{'/orders/detail/' +${order.id}}" title="View details of this order" ></a>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div>
							<i class="fas fa-user"></i>
							<b>[[${order.recipientName}]]</b>
						</div>
						<div>
							<i class="fas fa-home"></i>
							<b>[[${order.recipientAddress}]]</b>
						</div>
						<div>
							<i class="fas fa-phone-alt"></i>
							[[${order.phoneNumber}]]
						</div>
						<div th:if="${order.COD}">
							<span>COD:<b><div th:replace = "price_fragment::price_fragment(${order.total})"></div></b></span>							
						</div>
						<div>&nbsp;</div>
						<div class="row">
							<div th:replace="orders/orders_status_fragment :: content(${order.picked}, 'PICKED', 'fa-people-carry')"></div>
							<div th:replace="orders/orders_status_fragment :: content(${order.shipping}, 'SHIPPING', 'fa-shipping-fast')"></div>
							<div th:replace="orders/orders_status_fragment :: content(${order.delivered}, 'DELIVERED', 'fa-box-open')"></div>
							<div th:replace="orders/orders_status_fragment :: content(${order.returned}, 'RETURNED', 'fa-undo')"></div>
				
						</div>
					</div>
				</div>
			</div>
			
			</th:block>
		</div>
	
	<div class="text-center m-1" th:if="${totalItems>0}">
		<span>Show order # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems>0}">
		<span>Not orders found</span>
	</div>
	<div th:if="${totalPages >0}">
		<nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center flex-wrap">
  				<li th:class="${currentPage >1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(1,'First')"></a>
	    		</li>
	    		<li th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${currentPage-1},'Previous')"></a>
	    		</li>
	    		<li th:class="${currentPage !=i ?'page-item':'page-item active'}" 
	    			th:each="i: ${#numbers.sequence(1,totalPages)}">
	    			<a th:replace="fragments ::page_link(${i},${i})"></a>
	    		</li>
	    		
	    		<li th:class="${currentPage<totalPages ? 'page-item':'page-item disabled'}" >
	    			<a th:replace="fragments ::page_link(${currentPage+1},'Next')"></a>
	    		</li>
	    		<li th:class="${currentPage< totalPages ? 'page-item':'page-item disabled'}">
	    			<a th:replace="fragments ::page_link(${totalPages},'Last')"></a>
	    		</li>
  			</ul>
		</nav>
	</div>
	<div class ="modal fade text-center" id="confirmModal"> 
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Update Confirmation</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			<div class="modal-body">
				<span id="confirmText"></span>
			</div>
			<div class="modal-footer">
				<a class="btn btn-success" href="" id="yesButton" >Yes</a>
				<button type="button" class="btn btn-danger" id="noButton" data-dismiss="modal">No</button>
			</div>
		</div>
		</div>
	</div>		
		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
				
				</div>
			</div>
		</div>
		
		<div th:replace="fragments ::footer"></div>
	</div>
	
	<script type="text/javascript">
		var csrfHeaderName= "[[${_csrf.headerName}]]";
		var csrfValue= "[[${_csrf.token}]]";
		$(document).ready(function(){
			$("[name='keyword']").attr("placeholder", "Type # number to search by Order Id");			
			handleLinkViewOrderDetails();
			
			$(".link-delete").on("click",function(e){
				e.preventDefault();
				link=$(this);
				userId =link.attr("userId");
				$("#yesButton").attr("href",link.attr("href"));
				$("#confirmText").text("Are you sure you want to delete this user id " + userId);
				$("#confirmModal").modal();
			});
			
		});
		function clearFilter(){
			window.location = "[[@{/orders}]]";
		}
				
		function handleLinkViewOrderDetails(){
			$(".linkOrderDetail").on("click", function(e){
				e.preventDefault();
				linkDetailURL  = $(this).attr("href");
				$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
		}
		
	</script>
	<script th:src="@{/js/order_shipper.js}"></script>
</body>
</html>