<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head  th:replace="fragments :: page_head(${pageTitle},'none')"/>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu">Static Menu</div>
		<div>
			<h2 class="text-center">[[${pageTitle}]]</h2>
		</div>
		<form th:action="@{/orders/save}" method="post" th:object="${order}" onsubmit="processFormBeforeSubmit();">
		 <input type="hidden" th:field="*{id}" />
		 	<div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#products" role="tab">Product</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#shipping" role="tab">Shipping</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#track" role="tab">Track</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="overview" role="tabpanel">
						<div th:replace="orders/order_form_overview::content"></div>
					</div>
					
					<div class="tab-pane fade p-3" id="products" role="tabpanel">
						<div th:replace="orders/order_form_product::content"></div>
					</div>
					
					<div class="tab-pane fade p-3" id="shipping" role="tabpanel">
						<div th:replace="orders/order_form_shipping::content"></div>
					</div>
					
					<div  class="tab-pane fade p-3 " id="track" role="tabpanel">
						<div th:replace="orders/order_form_track::content"></div>
					</div>
				</div>
				<div>
					<p class="text-center">
						<input type="submit" value="Save" class="btn btn-primary m-3" />
						<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
					</p>
				</div>
				
			</div>
		</form>
		<div class ="modal fade text-center" id="modalDialog"> 
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Warning</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<span id="modalBody"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="orders/add_product_modal ::content"></div>
		<div th:replace="fragments ::footer"></div>
	</div>
	<script type="text/javascript">
	
		contextPath="[[@{/}]]"
		decimalDigits = [[${DECIMAL_DIGITS}]];
		decimalPointType = "[[${DECIMAL_POINT_TYPE}]]";
		thousandsPointType = "[[${THOUSANDS_POINT_TYPE}]]";
		var dropDownCountry;
		var dorpDownState;
		var csrfHeaderName= "[[${_csrf.headerName}]]";
		var csrfValue= "[[${_csrf.token}]]";
		
		$(document).ready(function(){
			dropDownCountry = $("#country");
			dorpDownState=$("#listStates");
			
			dropDownCountry.on("change",function(){
				loadStatesForCountrySelected();
				$("#state").val("").focus();
			});
			loadStatesForCountrySelected();
			$('#buttonCancel').click(function(){
				window.location="[[@{/orders}]]"
			});
			
		});
		
		function loadStatesForCountrySelected(){
			countryId = $("#country option:selected").val();
			url= contextPath + "states/list_by_country/" + countryId;
			$.get(url,function(responseJson){
				$("#listStates").empty();
				$.each(responseJson,function(index,state){
					$("<option>").val(state.name).text(state.name).appendTo(dorpDownState);
				});
			}).fail(function(){
				showModalDialog('Failed to connect to the server!')
			});
					
		}
		function showModalDialog(title,message){
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal();
		}
		
</script>

<script th:src="@{/js/common_form.js}"></script>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/common_form_overview_products.js}"></script>
<script th:src="@{/js/order_form_add_product.js}"></script>
<script th:src="@{/js/order_form_remove_product.js}"></script>
<script th:src="@{/js/order_form_track.js}"></script>
</body>

</html>